body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family:'Times New Roman','Microsoft YaHei',SimHei;
}

::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
background-color:#222;
}
::-webkit-scrollbar {//滚动条的宽度
width:6px;
height:6px;
}
::-webkit-scrollbar-thumb {//滚动条的设置
background-color:#222;
background-clip:padding-box;
min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
background-color:#222;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding:0 px;
    overflow:hiden;
}

/* Set width on the form input elements since they're 100% wide by default */

.face-img{
    width: 32px;
    height: 24px;
    border-radius: 6px;
    float:left;
    margin-right:10px;
}
.navbar-img{
    width: 30px;
    height: 24px;
}
.nav{
    font-size: 14pt;
}
.navbar-brand {
    font-size: 14pt;
}
.navbar-brand a:hover {
    font-size: 18pt;
    color:gray;
}
.thumbnail-pagediv{
    margin: auto;
}
.thumbnail-imgpage{
    width: 180px;
    height: 120px;
    border-radius: 12px;
    padding: 4px;
}
